@import "tailwindcss";

body {
  font-family: 'Outfit', sans-serif;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.small-heading-text {
  font-size: 0.875rem;
  font-weight: 600;
  color: #ef4444;
}